
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@MVCGlobalizationSample.Resource.SiteLanguage.AboutTitle</title>
</head>
<body>
    <div> 

        <p>
            @MVCGlobalizationSample.Resource.SiteLanguage.AboutContent
        </p>

    </div>
</body>
</html>
